body {
	background-image: url('dark_wood.png');
}

p {
	color: white;
	font-weight: bold;
	font-family: "Arial";
	text-decoration: overline;
	
}

h3 {
	color: #FFBC00;
	font-size: 40px;
	font-family: "Passion One";
	margin-bottom: 0px;
	text-shadow: 2px 2px 5px red;
}

a {
	color: white;
	font-weight: bold;
	font-size: 24px;
}

li {
	
}

#Header {
	border: solid 8px black;
	width: 500px;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 10px;
	text-align: center;
	background-color:#8E41D5;
	opacity: 0.6

}

#Header h1{
	font-size: 60px; 
	font-family: "Passion One";
	color: #FFBC00;
	font-weight: bold;
	text-shadow: 2px 2px 5px red;
}

#LeftNav {
	border: solid 8px black;
	width: 400px;
	float: left;
	text-align: center;
	background-color:#8E41D5;
	outline-style: dotted;
	outline-color: white;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 10px;
}

#LeftNav img {
	
}

#LeftNav ul {
	list-style-type:none;
	padding-left: 0; 
	padding-bottom: 8px;
	
	}

#LeftNav h3{
	
}

#Content {
	border: solid 8px black;
	width: 700px;
	text-align: center;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 10px;
	padding: 15px;
	background-color:#8E41D5;
}

#Footer {
	border: solid 8px black;
	background-color:#8E41D5;
	text-align: center;
	list-style-type:none;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 10px;
}

#Footer ul{
	list-style-type:none;
	padding-left: 0px;
}
	

